@page
@model PROJEKT.Pages.Products.DeleteModel

@{
    ViewData["Title"] = "Usuwanie Produktu";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2 align="center">USUWANIE PRODUKTU</h2>
    <h3 align="center">Czy napewno chcesz usunąć poniższy produkt?</h3>
    <div style="font-size: 28px">
        <hr />
        <dl class="container" align="center">
            <dt>
                @Html.DisplayNameFor(model => model.Product.name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Product.name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Product.price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Product.price) zł
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Product.opis)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Product.opis)
            </dd>
        </dl>
        <form method="post" align="center">
            <input type="hidden" asp-for="Product.id" />
            <input type="submit" value="Tak, usuń" class="btn btn-danger button4" />
            <a asp-page="./Index" class="btn button button4">Powrót do listy</a>
        </form>
    </div>
</body>
</html>