@page
@model PROJEKT.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "Usuwanie Kategorii";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

</head>
<body>
    <h2 align="center">USUWANIE KATEGORII</h2>
    <h3 align="center">Czy napewno chcesz usunąć poniższą kategorię?</h3>
    <div style="font-size: 28px" align="center">
        <hr />
        <dl class="container">
            <dt>
                @Html.DisplayNameFor(model => model.Category.shortName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.shortName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category.longName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.longName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Category.opis)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Category.opis)
            </dd>
        </dl>
    
        <form method="post">
            <input type="hidden" asp-for="Category.id" />
            <input type="submit" value="Tak, usuń" class="btn btn-danger button4" />
           <a asp-page="./Index" class="btn button button4">Powrót do listy</a>
        </form>
    </div>
</body>
</html>
