@page
@model PROJEKT.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Kategorie";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 align="center">KATEGORIE</h1>
    <hr />
    <table class="table" style="font-size: 16px" align="center">
        <thead>
            @if(User.IsInRole("Administrator") || User.IsInRole("Kierownik") || User.IsInRole("Pracownik"))
            {
                <a asp-page="Create" class="btn button button1" style="width: 100%">Dodaj</a>
            }
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category[0].shortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category[0].longName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category[0].opis)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Category) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.shortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longName)
                </td>
                <td style="max-width: 200px">
                    @Html.DisplayFor(modelItem => item.opis)
                </td>
                <td>
                    @if(User.IsInRole("Administrator") || User.IsInRole("Kierownik"))
                     {
                        <a class="btn button button2" asp-page="Edit" asp-route-id=@item.id>Edytuj</a>
                        <a class="btn button button2" asp-page="Delete" asp-route-id=@item.id>Usuń</a>
                     }
                    <a class="btn button button2" asp-page="./Details" asp-route-id="@item.id">Szczegóły</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</body>
</html>